.footer-container {
  background-color: #31343a;
  color: #ffffff;
}

.image-wrapper {
  background-color: #ffffff;
  border-radius: 30px;
}

.social-media {
  width: 30px;
}

.logo {
  height: 60px;
}
