@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.inactive {
  background-color: #fcf2e3;
  font-family: "Roboto";
}

.navbar-brand {
  color: #837f5f !important;
}

.nav-item {
  padding-left: 1em !important;
  padding-right: 1em !important;
  text-decoration: none;
  color: #837f5f;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 1rem;
  font-size: 1em;
}

.nav-item:hover {
  background-color: rgba(252, 242, 227, 0.6);
  background-color: #ff755f;
  color: #fcf2e3;
}

/* .nav-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  z-index: 20;
}

.active-scroll {
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  z-index: 20;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 10px;
  padding: 0;
}

.nav-menu a {
  text-decoration: none;
  color: #837f5f;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 1rem;
  font-size: 0.8em;
}

.nav-menu a:hover {
  background-color: rgba(252, 242, 227, 0.6);
  background-color: #ff755f;
  color: #fcf2e3;
}

.nav-logo {
  font-family: "Roboto";
  color: #837f5f;
  position: realtive;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 100px;
}

.logo {
  width: 40px;
  margin: 10px 5px;
}

.menu {
  margin-left: 30px;
  font-size: 1.2rem;
} */
