.container {
    min-height: 100vh;
    width: 100%;
    background-color: #FCF2E3;
    position: relative;
}
header {
    position: absolute;
    top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
}
.logo-box{
    width: 40px;
    margin: 5px;
}
.main-img{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}
.monumen{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 500px;
}
.jam-gadang{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 500px;
}
.sosmed-logo{
    margin: 5px;
}
footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
}